@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color:#f66733;
    padding-left: 20px;
}

button {
    @include button;
    border-radius: 5px;
}

#good {
    border:1px solid lawngreen;
    color:lawngreen;
}

#bad {
    border:1px solid red;
    color:red;
}

#trash {
    border:1px solid lightgrey;
    color:lightgrey;
}

.valid {
    color:lawngreen;
}

.invalid {
    color:red;
}
