<!DOCTYPE html>

<html>

<head>
    <title>Movie Catalog V.2</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/7fb1b7bdac.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="MovieApp">
    <h1>Netflix and Chill Preparation DB</h1>
    <!--<section ng-controller="NewMovieController">

    </section>-->

    <section ng-controller="ShowMoviesController">
        <ul>
            <li ng-repeat="currentMovie in movies">
                <img ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ currentMovie.poster_path }}">
                <h3>{{ currentMovie.title }}</h3>
                <p>Released {{ currentMovie.release_date }}</p>
                <p>{{ currentMovie.overview }}</p>
                <p ng-show="currentMovie.isFavorite">THIS MOVIE IS LIT</p>
                <button ng-hide="currentMovie.isFavorite" ng-click="favoritemovie(currentMovie)"><i class="fa fa-star" aria-hidden="true"></i>
</button>
            </li>
        </ul>
    </section>

</body>

</html>